.card-title {
    font-size: 1.5rem; /* Default font size */
}

.list-group-item{
    font-size: 1rem;
}

.card-text {
    font-size: 1rem;
}

.form-text {
    font-size: 1.2rem;
}

.form-label{
    font-size: 1.2rem;
}

  @media (max-width: 1200px) {
    .card-title {
      font-size: 1.4rem; /* Font size for large screens */
    }

    .list-group-item{
        font-size: .9rem;
    }

    .card-text {
        font-size: .9rem;
    }

    .form-text {
        font-size: 1.1rem;
    }

    .form-label{
        font-size: 1.1rem;
    }
    
  }

  @media (max-width: 992px) {
    .card-title {
      font-size: 1.3rem; /* Font size for medium screens */
    }

    .list-group-item{
        font-size: .8rem;
    }

    .card-text {
        font-size: .8rem;
    }

    .form-text {
        font-size: 1.0rem;
    }

    .form-label{
        font-size: 1.0rem;
    }
    
  }

  @media (max-width: 768px) {
    .card-title {
      font-size: 1.2rem; /* Font size for small screens */
    }

    .list-group-item{
        font-size: .7rem;
    }

    .card-text {
        font-size: .7rem;
    }

    .form-text {
        font-size: .9rem;
    }

    .form-label{
        font-size: .9rem;
    }
    
  }

  @media (max-width: 576px) {
    .card-title {
      font-size: 1.1rem; /* Font size for extra small screens */
    }

    .list-group-item{
        font-size: .6rem;
    }
    .card-text {
        font-size: .6rem;
    }

    .form-text {
        font-size: .8rem;
    }

    .form-label{
        font-size: .8rem;
    }
    
  }