<!DOCTYPE html>
{%load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href={% static 'style/icons/bscar-go.ico' %} type="image/x-icon">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href= {% static 'bootstrap5/css/bootstrap.min.css' %}>
    <link rel="stylesheet" href= {% static 'style/css/style.css' %}>
    <link rel="stylesheet" href="{% static 'style/css/resizeFont.css' %}">
    {% block css %}
    {% endblock css %}
  </head>
  <body>
    <div class="page">
        <nav class="navbar navbar-expand-lg navbar-dark top-menu" style="background-color: #217C6F;">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url "main:index" %}">ПОРТФОЛИО</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg- top-menu">
                  <li class="nav-item">
                    <a class="nav-link {% if 'main' in request.path %}active{% endif %}" href="{% url "main:index" %}">Главная страница</a>
                  </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  {% comment %} {% if request.user.is_authenticated %}
                    <div class="dropdown">
                      <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <img src={% static '/style/icons/notification.svg'%} style="max-width: 30px; max-height: 30px;">
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="">Мои уведомления</a></li>
                      </ul>
                    </div> 
                  {% endif %}  {% endcomment %}
                  <div class="dropdown">
                        <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src={% static '/style/icons/user-regular.svg'%} style="max-width: 30px; max-height: 30px;">
                        </a>
                        <ul class="dropdown-menu">
                            {% if user.is_authenticated %}
                                <li><a class="dropdown-item" href="{% url "personal_account:profile" %}">Личный кабинет</a></li>
                                <li><a class="dropdown-item" href="{% url "user:logout" %}">Выход</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="{% url "user:login" %}">Вход</a></li>
                                <li><a class="dropdown-item" href="{% url "user:registration" %}">Регистрация</a></li>
                            {% endif %}
                        </ul>
                    </div>  
                </ul>
              </div>
            </div>
        </nav>

        {% block content %}
        
        {% endblock content %}

        <footer style="margin-top: auto">
            <section class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <h4>Информация</h4>
                            <ul class="list-unstyled">
                                <li>Команда: Булдак чёрный</li>
                            </ul>
                        </div>

                        <div class="col-6">
                            <h4>Контакты</h4>
                            <ul class="list-unstyled">
                                <li>...</li>
                                <li>...</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
    </div>
    
    {% block javascript %}
    {% endblock javascript %}
    <script src= {% static "bootstrap5/js/bootstrap.bundle.min.js" %}></script> 
  </body>
</html>